.container {
  display: flex;
  flex: 1;
  flex-direction: row;

  .editorDefault {
    flex: 1;
    // width: 50%;
    height: 100vh;
  }

  .markdownDefault {
    flex: 1;
    // width: 50%;
    height: 100vh;
  }
}
